<app-menu-title></app-menu-title>

<section class="articles">
    <article class="article-main">
        <app-big-card 
            Id="1"
            cardPhoto="https://files.backbon3.com/cdn-cgi/image/width=648,height=364,fit=scale-down/content/originals/cb8bd306-8dad-4954-bba5-b56e36dc9df6.jpg"
            cardTitle="Guardian Tales"
            cardDescription="A link to the past! Relive your greatest adventures with Guardian Tales! From solving challenging puzzles in epic dungeons to strategic action combat, embark on this legendary journey to save the world of Kanterbury!"
            ></app-big-card>
    </article>
    <article class="article-normal">
        <app-small-card 
            Id="2"
            cardPhoto="https://nerdyknitsyarn.com/cdn/shop/collections/Little-Witch-in-the-Woods-Art.webp?v=1665431099"
            cardTitle="Little Witch in the Woods"
            cardDescription="Little Witch in the Woods tells the story of Ellie, an apprentice witch. Explore the mystical forest, help the charming residents, and experience the daily life of the witch."
        ></app-small-card>

        <app-small-card 
            Id="3"
            cardPhoto="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/413150/capsule_616x353.jpg?t=1711128146"
            cardTitle="Stardew Valley"
            cardDescription="You've inherited your grandfather's old farm plot in Stardew Valley.
            Armed with hand-me-down tools and a few coins, you set out to begin your new life!"
        ></app-small-card>

        <app-small-card 
            Id="4"
            cardPhoto="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/1093910/capsule_616x353.jpg?t=1628498556"
            cardTitle="Tales of the Black Forest"
            cardDescription="In a world filled with yōkai, a surging dark power has overshadowed a Japanese town. A group of 2 developers have produced a Japanese pixel adventure game to tell a tale that dates back to the Heisei era...In the name of dreams and passion."
        ></app-small-card>
    </article>
</section>
